<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Design Language</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/design-language.css"
    />
    <!-- <script src='js/main.js'></script> -->
  </head>
  <body class="dark">
    <div id="content">
      <h1>Design Language</h1>
      <p>
        Let's establish a common language that we can use to design our apps.
        Most apps are built out of fairly standard building blocks. Because
        these building blocks are standard they can be assembled quickly. This
        reduces the cost of developing the app.
      </p>
      <div class="building-block">
        <img src="/img/ux_patterns_login.png" />
        <div>
          <b>Login Screen:</b> It is not as simple as it seems. It includes the
          following:
          <ul>
            <li>A sign up form</li>
            <li>An email address confirmation email</li>
            <li>A sign in form</li>
            <li>A forgot password button</li>
            <li>A forgot password email with a secure password reset link</li>
            <li>A password reset form</li>
          </ul>
        </div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_list.png" />
        <div><b>List View:</b> Displays a list of items.</div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_fab_list.png" />
        <div>
          <b>List View with Action Button:</b> If the user can add new items to
          a list it is common to have an add button at the bottom of the screen.
        </div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_form.png" />
        <div>
          <b>Form:</b> A form allows users to enter information. It often
          includes validation rules, for example, a birth date field cannot be
          in the future.
        </div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_content.png" />
        <div>
          <b>Content:</b> Displays content to the user. For example a newspaper
          article.
        </div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_media.png" />
        <div>
          <b>Media Content:</b> Displays media content to the user. For example
          a video or an audio recording.
        </div>
      </div>
    </div>
  </body>
</html>
