<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/design-language.css"
    />
    <!-- <script src='js/main.js'></script> -->
  </head>
  <body class="dark">
    <div id="content">
      <h1>Design Language</h1>
      <p>
        Let's establish a common language that we can use to design our apps.
        Most apps are built out of fairly standard building blocks. Because
        these building blocks are standard they can be assembled quickly. This
        reduces the cost of developing the app.
      </p>
      <div class="building-block">
        <img src="/img/ux_patterns_login.png" />
        <div>
          This is a login screen. It is not as simple as it seems. It includes
          the following:
          <ul>
            <li>A sign up form</li>
            <li>An email address confirmation email</li>
            <li>A sign in form</li>
            <li>A forgot password button</li>
            <li>A forgot password email with a secure password reset link</li>
            <li>A password reset form</li>
          </ul>
        </div>
      </div>
      <div class="building-block">
        <img src="/img/ux_patterns_fab_list.png" />
        <div>
          This is a list view. It displays a list of items. If the user can add
          new items to the list it is common to have an add button at the bottom
          of the screen.
        </div>
      </div>
    </div>
  </body>
</html>
