<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <!-- <script src='js/main.js'></script> -->
  </head>
  <body class="dark">
    <div id="content">
      <h1>Portfolio</h1>
      <ul>
        <li><a href="/design-language">Design Language</a></li>
        <li><a href="/sermon-publisher">Sermon Publisher</a></li>
      </ul>
    </div>
  </body>
</html>
